body {
	margin: 0;
	padding: 0;}

.container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;}

.box {
	margin: 0;
	margin-right: 16px;
	padding: 0;
	width: 300px;
	height: 300px;
	float: left;}

#header {
	height: 150px;
	overflow: hidden;}

#header h1 {
	font-size: 48px
	line-height: 72px;}